.image-main {
    width: 100%;
    min-width: 100%;
    display: flex;
    min-height: inherit;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-secondary);
    cursor: pointer;
    object-fit: cover;
    object-position: center;
}