.tabs {
    position: relative;
    min-width: 0;
    overflow-x: scroll;
    margin-bottom: 16px;
}

.tabs::-webkit-scrollbar {
    display: none;
}

.tabs-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-border);
    flex-grow: 1;
}

.tabs-indicator {
    background-color: var(--color-primary);
    height: 1px;
    position: absolute;
    transition-duration: var(--transition-duration);
    bottom: 0px;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    opacity: 0.5;
    transition-duration: var(--transition-duration);
    color: var(--text-dark);
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    flex-grow: 1;
}

.tab.active {
    opacity: 1;
    color: var(--color-primary);
    fill: var(--color-primary);
}

.tab:hover {
    opacity: 1;
}

.tab-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.tab-icon svg {
    width: 16px;
    height: 16px;
}

@media (max-width: 768px) {
    .tab {
        flex-direction: column;
    }

    .tab-icon {
        order: 2;
        margin-right: 0;
        margin-top: 5px;
        display: none;
    }
}