* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --border-radius: 4px;
  --border-radius-lg: 18px;
  --transition-duration: 200ms;
  --box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;

  --color-success: #61D174;
  --color-danger: #E23645;
  --color-warning: #EDC25E;
  --color-primary: #FF0078;

  --text-dark: #ffffff;
  --text-light: #000000;
  --box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  --box-shadow-hover: 0 12px 22px rgb(0 0 0 / 32%);

  --sidebar-width: 100px;
  --sidebar-height: 80px;
  --nav-height: 60px;
  --nav-height-sm: 50px;
}

[data-theme='dark'] {
  --color-main: #202020;
  --color-secondary: #363636;
  --color-tertiary: #181818;
  --color-border: #4b4b4b;

  --text-light: #030303;
  --text-dark: #ffffff;

  --transition-duration: .3s;
}

[data-theme='light'] {
  --color-main: #ffffff;
  --color-secondary: #f6f7f8;
  --color-tertiary: #fafafa;
  --color-border: #cccccc;

  --text-light: #ffffff;
  --text-dark: #2E2E3B;

  --transition-duration: .3s;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--color-tertiary);
  color: var(--text-dark);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: Rubik,sans-serif;
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: var(--color-tertiary);
}
*::-webkit-scrollbar-thumb {
  min-height: 65px;
  background-color: var(--color-border);
  border: 1px solid var(--color-border);
}

.content {
  padding: 0 16px 0 calc(var(--sidebar-width) + 16px);
}
.content-body {
  padding: 16px;
  background-color: var(--color-main);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.side-bar-width {
  width: var(--sidebar-width);
  min-width: var(--sidebar-width);
}

.spinner svg {
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .content {
    padding: 0 16px calc(var(--sidebar-height) + 16px) 16px;
  }

  .side-bar-width {
    width: 100%;
  }
}